
@tailwind base;
@tailwind components;
@tailwind utilities;










html, body {
    height: 100%;
  }
  /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scrollbar-hidden {
    scrollbar-width: none;
  }
  