
@tailwind base;
@tailwind components;
@tailwind utilities;





.date-divider {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  color: #555;
}

.online-user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin-right: 10px;
  }

  .message-list {
    list-style: none;
    padding: 0;
  }
  
  .message-item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    width: fit-content; /* Adjust width based on content */
    min-width: 10%; /* Minimum width for short messages */
    max-width: 60%; /* Maximum width for longer messages */
    display: flex;
    flex-direction: column;
    word-wrap: break-word; /* Ensure long words break into a new line */
  }
  
  .received {
    align-self: flex-start; /* Align sent messages to the start */
    background-color: #1a0380;
    color: white;
    text-align: left;
  }
  .sent{
    align-self: flex-end; /* Align received messages to the end */
    background-color: #525853;
    color: white;
    text-align: right;
    margin-left: auto; /* Add this to push the message to the right edge */
  }
  
 /* .user{
  overflow-y: auto !important;
  height: 100px;
 } */