
@tailwind base;
@tailwind components;
@tailwind utilities;







.online-user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin-right: 10px;
  }